<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("index") }}"><span class="rainbow-text blog-title">Matt</span></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link rainbow-text" href="{{ url_for("index") }}">Home</a>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="nav-link dropdown-toggle rainbow-text" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <li>

                                    <div class="mega-menu-content clearfix">
                                        <div class="tab">
                                            <button class="tablinks active" onclick="openCategory(event, 'cat01')">
                                                Science
                                            </button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat02')">Technology
                                            </button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat03')">Social
                                                Media
                                            </button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat04')">Car News
                                            </button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat05')">Worldwide
                                            </button>
                                        </div>
                                    </div><!-- end mega-menu-content -->

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rainbow-text" href="{{ url_for("contact") }}">Contact Me</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link rainbow-text" href="https://www.linkedin.com/in/mevrthisbang/" target=”_blank”><i
                                class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rainbow-text" href="mailto:phuchgt.work@gmail.com" target=”_blank”><i
                                class="fa fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rainbow-text" href="https://github.com/mevrthisbang" target=”_blank”><i
                                class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->